body {
  background-color: #18171c;
  color: #ffffff;
  /* http://cssfontstack.com/ */
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/* Make highlighted selections hot pink */
::selection {
  background: #fe57a1;
}

::-moz-selection {  /* dammit mozilla */
  background: #fe57a1;
}

table {
  margin-top: 75px;
  width: 1px;
  margin-left: auto;
  margin-right: auto;
}

/* Positions that haven't changed since yesterday are semitransparent */
tr {
  opacity: 0.2;
  text-align: right;
}

.changed {
  opacity: 1;
}

/* Just some room to breathe */
td {
  padding-left: 2px;
  padding-right: 2px;
}

/* Unicode zodiac symbols aren't uniform width, so we center them to look nice */
.sign {
  text-align: center;
}

/* This spinner floats independently of the page elements, above the galaxy */
#spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Floats under the spinner, effectively the page background */
#galaxy {
  transition: opacity 16s linear;
  -webkit-transition: opacity 16s linear; /* dammit webkit */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* By adding or removing this class we trigger CSS transitions */
.hidden {
  opacity: 0;
}

#content, #spinner {
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear; /* dammit webkit */
}

#content {
  font-size: x-large;
  line-height: 1.4em;
  width: 100%;
  text-align: center;
}

#info {
  margin-top: 25px;
  font-size: medium;
}
